In [21]:
import numpy as np  # linear algebra
import pandas as pd  # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
import seaborn as sns
import os
from sklearn.model_selection import train_test_split
from geopy.geocoders import Nominatim
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import MinMaxScaler
import lightgbm as lgb
import xgboost as xgb
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error
color = sns.color_palette()
pd.options.mode.chained_assignment = None  # default='warn'

In [22]:
df = pd.read_csv("experiment_with_lat_and_lng_and_num_cofe.csv")

In [23]:
df.head(2)

   BOROUGH              NEIGHBORHOOD  ... num_cafe_1000_meters num_cafe_500_meters
0        3  FLATBUSH-LEFFERTS GARDEN  ...                   20                   8
1        4              HOWARD BEACH  ...                    2                   0

[2 rows x 25 columns]

In [24]:
example1 = "api-key_geocoding.txt"
file1 = open(example1, "r")

In [25]:
API_KEY = file1.read()

In [26]:
import json
import urllib.request

In [27]:
URL_near_by_search = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

In [28]:
def get_near_by_search(lat, lng, radius):
    location = f"{lat},{lng}"
    radius = radius
    # Join the parts of the URL together into one string.
    params = urllib.parse.urlencode(
         {
          "query": "real estate agency",
          "opennow": "true",
          "location": location,
          "radius": radius,
          "type": "real_estate_agency",
          "key": API_KEY,
        }
    )
    url = f"{URL_near_by_search}?{params}"
    result = json.load(urllib.request.urlopen(url))

    if result["status"] in ["OK", "ZERO_RESULTS"]:
        return result["results"]

    raise Exception(result["error_message"])

In [29]:
results = get_near_by_search(40.650046	, -73.94875689999999, 500)

In [30]:
print(results)

[{'business_status': 'OPERATIONAL', 'geometry': {'location': {'lat': 40.65131609999999, 'lng': -73.94940299999999}, 'viewport': {'northeast': {'lat': 40.65265848029149, 'lng': -73.94816911970848}, 'southwest': {'lat': 40.64996051970849, 'lng': -73.9508670802915}}}, 'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/generic_business-71.png', 'name': 'Marcia Clarke M C Realty', 'opening_hours': {'open_now': True}, 'photos': [{'height': 831, 'html_attributions': ['<a href="https://maps.google.com/maps/contrib/104417177908752876951">Marcia Clarke M C Realty</a>'], 'photo_reference': 'CkQ0AAAA3QX0xEjIz4aFrdEk4ZJtbeJqmmOZILWsiY_7s9Fr3TpO78LIx0ivVvk6PJs_yL-gwFvJmNqe5MZH6Vqzo3AU7hIQRyVIG0tuV5fYLykIuBVXdBoUFHG6xLkadL4-PyNgTbnNhPYXTOM', 'width': 644}], 'place_id': 'ChIJ60Zx0lVbwokRYWBDOzLZMTg', 'plus_code': {'compound_code': 'M322+G6 New York, NY, USA', 'global_code': '87G8M322+G6'}, 'reference': 'ChIJ60Zx0lVbwokRYWBDOzLZMTg', 'scope': 'GOOGLE', 'types': ['real_estate_agency', 'point_of_interest', 'establishment'], 'vicinity': '1431 Nostrand Avenue, Brooklyn'}, {'business_status': 'OPERATIONAL', 'geometry': {'location': {'lat': 40.65204729999999, 'lng': -73.94610469999999}, 'viewport': {'northeast': {'lat': 40.65340468029149, 'lng': -73.94461431970849}, 'southwest': {'lat': 40.6507067197085, 'lng': -73.94731228029151}}}, 'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/generic_business-71.png', 'name': 'Christine Carvajal, Realtor®', 'opening_hours': {'open_now': True}, 'photos': [{'height': 4128, 'html_attributions': ['<a href="https://maps.google.com/maps/contrib/109169557126125614054">Christine Carvajal, Realtor®</a>'], 'photo_reference': 'CkQ0AAAANuk308f5uGEPHDR702QueNpGeJN3fEUc4iVmObHpzdllRffNFNmMQbsb6VQ8rJ2Ko-LPgaXT1e8DDjBB9a-i3hIQEfP5tp4JbK2dpU_aLCAzSRoU80Wdr-atpUt2Juq3KcfHJ80cVPo', 'width': 3096}], 'place_id': 'ChIJ8-3xO4dbwokRS385U_dVvWw', 'plus_code': {'compound_code': 'M323+RH New York, NY, USA', 'global_code': '87G8M323+RH'}, 'reference': 'ChIJ8-3xO4dbwokRS385U_dVvWw', 'scope': 'GOOGLE', 'types': ['real_estate_agency', 'point_of_interest', 'establishment'], 'vicinity': '202 East 34th Street, Brooklyn'}]

In [31]:
len(results)

2

In [38]:
df_5 = df.head(5)

In [39]:
df_5

   BOROUGH              NEIGHBORHOOD  ... num_cafe_1000_meters num_cafe_500_meters
0        3  FLATBUSH-LEFFERTS GARDEN  ...                   20                   8
1        4              HOWARD BEACH  ...                    2                   0
2        4                   BAYSIDE  ...                    3                   2
3        2                 WAKEFIELD  ...                    5                   1
4        4                   ASTORIA  ...                   20                   4

[5 rows x 25 columns]

In [42]:
ans = []
for index,row in df_5.iterrows():
    lat, lng = row['lat'], row['lng']
    results = get_near_by_search(lat, lng, 1000)
    ans.append(len(results))

In [43]:
print(ans)

[4, 0, 1, 0, 4]

In [44]:
df_5['num_real_estate_agency_1000_meters'] = ans

In [45]:
df_5

   BOROUGH  ... num_real_estate_agency_1000_meters
0        3  ...                                  4
1        4  ...                                  0
2        4  ...                                  1
3        2  ...                                  0
4        4  ...                                  4

[5 rows x 26 columns]

In [46]:
ans = []
for index,row in df.iterrows():
    lat, lng = row['lat'], row['lng']
    results = get_near_by_search(lat, lng, 1000)
    ans.append(len(results))

In [47]:
df['num_real_estate_agency_1000_meters'] = ans

In [49]:
df.head(10)

   BOROUGH  ... num_real_estate_agency_1000_meters
0        3  ...                                  4
1        4  ...                                  0
2        4  ...                                  1
3        2  ...                                  0
4        4  ...                                  4
5        3  ...                                  1
6        4  ...                                  0
7        4  ...                                  1
8        5  ...                                  0
9        3  ...                                  2

[10 rows x 26 columns]

In [50]:
df.to_csv('experiment_lat_lng_cofe_real_estate.csv', index=False)