In [1]:
import numpy as np  # linear algebra
import pandas as pd  # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
import seaborn as sns
import os
from sklearn.model_selection import train_test_split
from geopy.geocoders import Nominatim
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import MinMaxScaler
import lightgbm as lgb
import xgboost as xgb
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error
color = sns.color_palette()
pd.options.mode.chained_assignment = None  # default='warn'

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [4]:
df_experiment_lat_lng_cofe = pd.read_csv("experiment_with_lat_and_lng_and_num_cofe.csv")

In [14]:
df_experiment_lat_lng_cofe

    BOROUGH  NEIGHBORHOOD  ...  num_cafe_1000_meters  num_cafe_500_meters
0         3      0.298507  ...                    20                    8
1         4      0.432836  ...                     2                    0
2         4      0.074627  ...                     3                    2
3         2      0.925373  ...                     5                    1
4         4      0.014925  ...                    20                    4
..      ...           ...  ...                   ...                  ...
93        3      0.134328  ...                    20                   20
94        3      0.238806  ...                     3                    0
95        3      0.104478  ...                     2                    0
96        3      0.134328  ...                    20                    3
97        4      0.402985  ...                     5                    0

[98 rows x 25 columns]

In [16]:
df_experiment_lat_lng = pd.read_csv("experiment_with_lat_and_lng.csv")

In [15]:
df_experiment_lat_lng

    BOROUGH  NEIGHBORHOOD  ...        lat        lng
0         3      0.298507  ...  40.656321 -73.952859
1         4      0.432836  ...  40.650046 -73.844749
2         4      0.074627  ...  40.782845 -73.774405
3         2      0.925373  ...  40.894052 -73.848705
4         4      0.014925  ...  40.768648 -73.902715
..      ...           ...  ...        ...        ...
93        3      0.134328  ...  40.732626 -74.004328
94        3      0.238806  ...  40.662616 -73.861378
95        3      0.104478  ...  40.658204 -73.902627
96        3      0.134328  ...  40.693824 -73.913995
97        4      0.402985  ...  40.716975 -73.754915

[98 rows x 23 columns]

In [7]:
cat = ['NEIGHBORHOOD', 'BUILDING CLASS CATEGORY', 'BUILDING CLASS AS OF FINAL ROLL 18/19', 'ADDRESS',
           'BUILDING CLASS AT TIME OF SALE', 'SALE DATE', 'AREA', 'FINAL_ADDRESS']

for col in cat:
    lb = LabelEncoder()
    df_experiment_lat_lng_cofe[col] = lb.fit_transform(df_experiment_lat_lng_cofe[col].values)

df_experiment_lat_lng_cofe['TAX CLASS AS OF FINAL ROLL 18/19'] = df_experiment_lat_lng_cofe['TAX CLASS AS OF FINAL ROLL 18/19']\
    .map({'2A': 2, '1': 1, '4': 4})

In [6]:
cat = ['NEIGHBORHOOD', 'BUILDING CLASS CATEGORY', 'BUILDING CLASS AS OF FINAL ROLL 18/19', 'ADDRESS',
           'BUILDING CLASS AT TIME OF SALE', 'SALE DATE', 'AREA', 'FINAL_ADDRESS']

for col in cat:
    lb = LabelEncoder()
    df_experiment_lat_lng[col] = lb.fit_transform(df_experiment_lat_lng[col].values)

df_experiment_lat_lng['TAX CLASS AS OF FINAL ROLL 18/19'] = df_experiment_lat_lng['TAX CLASS AS OF FINAL ROLL 18/19']\
    .map({'2A': 2, '1': 1, '4': 4})

In [8]:
for col in cat:
    minmax = MinMaxScaler()
    df_experiment_lat_lng[col] = minmax.fit_transform(df_experiment_lat_lng[col].values.reshape(-1, 1))

In [9]:
for col in cat:
    minmax = MinMaxScaler()
    df_experiment_lat_lng_cofe[col] = minmax.fit_transform(df_experiment_lat_lng_cofe[col].values.reshape(-1, 1))

In [10]:
df_train, df_test = train_test_split(df_experiment_lat_lng, test_size=0.2, random_state=42, shuffle=True)
train_target = df_train['SALE PRICE']
train = df_train.drop(['SALE PRICE'], axis=1)
test_target = df_test['SALE PRICE']
test = df_test.drop(['SALE PRICE'], axis=1)

In [11]:
rf = RandomForestRegressor(n_estimators=300, verbose=True, max_depth=20, n_jobs=-1)
rf.fit(train, train_target)
res_pred = rf.predict(test)
rms = np.sqrt(mean_squared_error(test_target, res_pred))
print("RMS: %f" % rms)

[Parallel(n_jobs=-1)]: Using backend ThreadingBackend with 2 concurrent workers.
[Parallel(n_jobs=-1)]: Done  46 tasks      | elapsed:    0.1s
[Parallel(n_jobs=-1)]: Done 196 tasks      | elapsed:    0.3s
[Parallel(n_jobs=-1)]: Done 300 out of 300 | elapsed:    0.4s finished

RMS: 350838.447264

[Parallel(n_jobs=2)]: Using backend ThreadingBackend with 2 concurrent workers.
[Parallel(n_jobs=2)]: Done  46 tasks      | elapsed:    0.0s
[Parallel(n_jobs=2)]: Done 196 tasks      | elapsed:    0.1s
[Parallel(n_jobs=2)]: Done 300 out of 300 | elapsed:    0.1s finished

In [12]:
df_train, df_test = train_test_split(df_experiment_lat_lng_cofe, test_size=0.2, random_state=42, shuffle=True)
train_target = df_train['SALE PRICE']
train = df_train.drop(['SALE PRICE'], axis=1)
test_target = df_test['SALE PRICE']
test = df_test.drop(['SALE PRICE'], axis=1)

In [13]:
rf = RandomForestRegressor(n_estimators=300, verbose=True, max_depth=20, n_jobs=-1)
rf.fit(train, train_target)
res_pred = rf.predict(test)
rms = np.sqrt(mean_squared_error(test_target, res_pred))
print("RMS: %f" % rms)

[Parallel(n_jobs=-1)]: Using backend ThreadingBackend with 2 concurrent workers.
[Parallel(n_jobs=-1)]: Done  46 tasks      | elapsed:    0.1s
[Parallel(n_jobs=-1)]: Done 196 tasks      | elapsed:    0.3s
[Parallel(n_jobs=-1)]: Done 300 out of 300 | elapsed:    0.4s finished

RMS: 315293.880704

[Parallel(n_jobs=2)]: Using backend ThreadingBackend with 2 concurrent workers.
[Parallel(n_jobs=2)]: Done  46 tasks      | elapsed:    0.0s
[Parallel(n_jobs=2)]: Done 196 tasks      | elapsed:    0.0s
[Parallel(n_jobs=2)]: Done 300 out of 300 | elapsed:    0.1s finished